.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.bg-oscar {
    width: 100%;
    background-image: url(../img/oscar.jpg);
    margin: 0 auto;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.sign {
    font-size: 14px;
    font-family: "Latolight";
    color: rgba( 255, 255, 255, 0.502 );
    text-align: right;
    position: relative;
    width: 62.2%;
    margin: 0 auto 0 auto;
    padding-top: 25px;
}
span {
    text-decoration: underline;
}
.title-bg {
    background-color:     rgba(100, 100, 100, 0.6);
    width: 100%;
    position: relative;
    margin-top: 312px;
    padding: 0 calc((100% - 1015px)/2);
}
.title {
    font-size: 60px;
    font-family: "LatoSemibold";
    letter-spacing: -1.6px;
    color: white;
    margin: 0 auto;
    padding: 12px 0 0 10px;
}
.ex-title{
    font-size: 30px;
    margin: 0 4px;
    font-family: "LatoThin";
    letter-spacing: -0.2px;
    line-height: 1.4;
    width: 80%;
    padding: 4px 0 0 11px;
}
.under-title {
    width: 97%;
    margin: 9px auto 0 auto;
    position: relative;
}

.author-button {
    display: inline-block;
}
.author-button a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
}
.menu-btn {
    display: inline-block;
    margin-left: 26px;
}

.menu a {

    display: inline-block;
    text-decoration: none;
    color: #fff;
}
.userpick1 {
    padding-right: 10px;
    height: 25px;
    width: 25px;
    background-image: url(../img/userpick1.jpg);
    background-position-x: -5px;
    background-position-y: -5px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.author-name {
    text-decoration: none;
    color: rgb(255,255,255);
    font-family: LatoThin;
    padding-left: 10px;
    padding-right: 10px;
}

.date {
    padding-left: 27px;
    color: rgb(255,255,255);
    text-decoration: none;
    font-family: LatoThin;
}
.menu {
    text-align: right;
    color: rgb(255,255,255);
    font-family: LatoThin;
    font-size: 14px;
    line-height: 42px;
    display: inline-block;
    float: right;
}

.menu div div {
    display: inline-block;
    width: 22px;
    height: 21px;
    vertical-align: middle;

}
.menu span {
    text-decoration: none;
    vertical-align: middle;
}
.img-embed {
    background-image: url(../img/embed.gif);
    width: 32px !important;
    background-repeat: no-repeat;
    background-size: contain;
}
.img-share {
    background-image: url("../img/share.gif");
    background-repeat: no-repeat;
    background-size: contain;
}
.img-newest {
    background-image: url(../img/newest.gif);
    width: 25px !important;
    background-repeat: no-repeat;
    background-size: contain;
}

.img-donate {
    background-image: url(../img/Donate.gif);
    background-repeat: no-repeat;
    background-size: contain;
}
.embed {
    margin-left: 3px;
}
.newest {
    margin-left: 4px;
}
.share {
    margin-left: 4px;
}
.donate {
    margin-left: 5px;
}

.show-more {
    background-color: lavender;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: "LatoLight";
    color: rgba( 52, 107, 135, 0.702 );
    position: relative;
    margin: 0 auto;
    padding: 21px;
}
.post-box {
    width: 50%;
    height: auto;
    margin: 0 auto 95px auto;
    position: relative;
    background-color: white;
    font-family:LatoRegular;
}
.post-box-margin {
    margin-top: 17px;
}
.info {
    line-height: 42px;
    display: inline-block;
}
.small-menu {
    margin-top: 45px;
    text-align: right;
}

.small-menu button {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 18px;
}
.img-and-author {
    display: inline-block;
    text-align: left;
}
.img-and-author a {
    margin-right: 40px;
}
.right-dropdown {
    right: 0;
    left: auto;
}
.post-title {
    font-size: 24px;
    color: rgb( 0, 0, 0 );
    font-weight: bold;
    line-height: 1.25;
    padding: 21px 0 21px 0;
    letter-spacing: 0.15px;
}
.post-box p {
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: -0.02px;
}
.post-author {
    width: 100%;
    margin-top: 29px;
}
.post-author a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}
.post-author4 {
    margin-top: 25px;
}
.post-author-row {
    padding: 0;
    text-align: right;
}
.post-author-row a{
    text-decoration: none;
    color: black;
}
.post-author-row img {
    display: inline-block;
    vertical-align: middle;
}
.post-author-row .menu-btn {
    padding: 0 7px;
    margin-left: 0;
}
.post-author span {
    font-size: 14px;
    text-decoration: none;
    font-family: LatoLight;
    color: rgb(0,0,0);
    vertical-align: middle;
}
.rate {
    color: green !important;
    font-weight: bold;
}
.relative-div {
     position: relative;
}

.container {
    left: -32px;
    margin: 22px 30px;
    height: 177px;
    width: 114px;
    background: #fff;
    border: 3px solid rgba( 157, 153, 156, 0.2 );
    border-radius: 5px;
    position: absolute;
    text-align: center;
    padding-left: 12px;
}

/* this CS forms the triangles */
.container:after,
.container:before {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
}


/* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
.container:after {
    top: -14px;
    left: 8px;
    border-color: transparent transparent transparent white;

    border-left: 11px solid transparent;  /* left arrow slant */
    border-right: 11px solid transparent; /* right arrow slant */
    border-bottom: 12px solid white;
}

/* this border color controlls the outside, thin border */
.container:before {
    top: -18px;
    left: 7px;
    border-color: transparent transparent transparent rgba( 157, 153, 156, 0.2 );

    border-left: 12px solid transparent;  /* left arrow slant */
    border-right: 12px solid transparent; /* right arrow slant */
    border-bottom: 12px solid rgba( 157, 153, 156, 0.2 );
}
.container a {

    color: rgba(57, 53, 56, 0.8);
    font-family: "LatoLight";
    text-decoration: none;
}
.container li {
    text-align: left;
    font-family: LatoRegular;
    padding: 5px 0 7px;
    font-size: 14px;
}
.container ul:first-child {
    margin-top: 9px;
}
.mail-logo {
     color: rgb(119,123,130);
 }
.fb-logo {
    color: rgb(55,100,174);
}
.twitter-logo {
    color: rgb(51,170,214);
}
.pint-logo {
    color: rgb(216,63,63);
}
.google-logo {
    color: rgb(243,101,62);
}
.tumblr-logo {
    color: rgb(54,76,116);
}
.logo {
    border-radius: 2px;
    width: 22px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.button-menu {
    background-image: url(../img/button-menu.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    height: 11px;
    display: inline-block;
    float: right;
    margin-top: 6px;
}
.author-margin {
    margin-top: 26px;
}
.img-and-author4 {
    position: relative;
    float: left;
}
.guardian {
       /*background-position: center;*/
}
.newyorktimes {
    background-position-x: center;
    width: 19px;
    height: 19px;
}
.time {
    background-position-x: center;
    width: 14px;
    height: 16px;
}
.mike {
    width: 22px;
    height: 21px;
}
.interstallar-p {
    margin-top: 22px;
}
.date-post {
    margin-right: 32px;
}
.post-box2 {
    margin-bottom: 68px;
}
.post-box3 {
    margin-bottom: 58px;
 }
.post-box4 {
    margin-bottom: 66px;
}
.box4-padding {
    padding-bottom: 18px;
}
.post-box5 {
    margin-bottom: 78px;
}
.post-box6 {
    margin-bottom: 55px;
    background-color: transparent;
}
.margintop {
    margin-top: 24px;
}
.post-box7 {
    margin-bottom: 63px;
}
.post-box8 {
    margin-bottom: 50px;
}
.post-box9 {
    margin-bottom: 90px;
}

.img-interstlr {
    background-image: url(../img/interstallar.jpg);
    height: 334px;
    background-size: cover;
    background-position: center;
    margin-top: 5px;
    background-repeat: no-repeat;
}
.img-turing {
    background-image: url(../img/turing.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.img-sparrow {
    background-image: url(../img/sparrow.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.img-hotel {
    background-image: url(../img/hotel.jpg);
    background-position-x: -99px;
    background-position-y: -30px;
    margin-right: 0 !important;
    background-repeat: no-repeat;
}
.gallery {
    width: 31.9%;
    height: 189px;
    display: inline-block;
    margin-right: 13px;
    background-repeat: no-repeat;
}
.gallery-div {
    width: 100%;
    margin: 30px auto 0 auto;
}
.gallery-div a {
    display: inline-block;
}
.tweet {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.tweet-img {

 }
.arrow-margin {
    margin:0 5px 0 5px;
}
.sound {
    height: 50px;
}
.audio-bg {
    width: 100%;
    height: 141px;
    background-color: transparent;
    margin:5px 0 33px 0;
}

.replies-title {
    font-family: LatoLight;
    line-height: 2;
    font-size: 18px;
    text-align: center;
    position:relative;
    width: 51%;
    margin: auto;
}

.replies-title:before{
    top: 0;
    left:10px;
    content:'';
    display:block;
    position:absolute;
    width:calc((100% - 100px)/2);
    height:18px;
    border-bottom:1px solid gray;
}

.replies-title:after{
    top: 0;
    right: 10px;
    content:'';
    display:block;
    position:absolute;
    width:calc((100% - 100px)/2);
    height:18px;
    border-bottom:1px solid gray;
}
.all-replies-box {
    width: 50%;
    margin: 0 auto;
}
.replies {
    width:100%;
    margin:50px auto 0 auto;
}
.re-replies {
    width: 88.8%;
    float: right;
    margin: 50px auto 0 auto;
}
.photos {
    width: 74px;
    height: 75px;
    border-radius: 50%;
    display: inline-block;
    background-position: center;
    vertical-align: middle;
}
.reply-block {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 0 15px;
    width: calc(100% - 93px);
}
.re-reply-block {
    margin-left: 18px;
    margin-top: 2px;
    width: calc(100% - 100px);
}
.replies a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}
.replies p {
    display: inline-block;
}
.re-replies p {
    display: inline-block;
}
.re-replies a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}
.a-color {
    color: rgb(74,124,189) !important;
}
.reply-author {
    font-size: 16px;
    font-family: LatoBold;
    font-weight: bold;
}
.reply-date {
    font-family: LatoLight;
    font-size: 14px;
    margin-left: 30px;
    color: rgba( 157, 153, 156, 0.8 );
}
.reply-text {
    font-family: LatoRegular;
    margin-top: 3px;
    line-height: 1.7;
}
.replay-replay {
    margin-top: 5px;
    font-family: LatoLight;
}
.photos-div {
    display: inline-block;
}
.niharika {
    margin-top: 6px;
}
.anna {
    margin-top: 7px;
}
.anna-repl {
    margin-top:55px;
}
.maxim-photo {
    margin: 46px auto 0 auto;
}

.input-comment {
    width: 50%;
    height: 181px;
    margin: 33px auto 0 auto;
    background-color:     rgba(150, 150, 150, 0.1);
    border: none;
    display: block;
    font-family: LatoLight;
    font-size: 15px;
    padding: 22px 0 0 15px;
    resize: none;
}

.replies-pages {
    margin: 39px auto 80px auto;
    width: 313px;
    font-family: LatoLight;
    font-size: 16px;
    color: rgb( 107, 107, 107 );
    padding-left: 52px;
}
.fat-three {

}
.fat-three :active {
    font-family: LatoBold;
}
.replies-pages a {
    color: rgb( 107, 107, 107 );
    padding: 9px;
    text-decoration: none;
}
.replies-pages a:hover {
    font-family: LatoBold;
}
.video-youtube {
    position: relative;
    margin-bottom: 43px;
    border: 9px solid rgb( 236, 239, 241 );
    height: 0;
    padding-bottom: 56.25%;
}
.tip-block{
    border:1px solid rgba( 80, 99, 161, 0.8 );
    height: 67px;
    margin:0 auto;
}
.tip {
    padding: 16px;
    text-align: center;
}
.tip a {
    color: rgba( 80, 99, 161, 0.8 );
    line-height: 1.6;
    font-size: 20px;
    font-family: "LatoLight";
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
}
.dollars {
    background-image: url(../img/dollars.png);
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
    background-repeat: no-repeat;
    background-size: contain;
}
.decoration {
    color: rgba( 80, 99, 161, 0.8 );
    line-height: 1.6;
    font-size: 20px;
    font-family: "LatoLight";
    vertical-align: middle;
    text-decoration: none !important;
    display: block;
    width: 50%;
    margin:0 auto;
    margin-bottom: 5px;
}



@media (max-width: 1604px) {
    .post-box {
        width: 55%;
    }
    .decoration {
        width: 55%;
    }
}
@media (max-width: 1477px) {
    .decoration {
        width: 60%;
    }
    .post-box {
        width: 60%;
    }
    .input-comment {
        width: 60%;
    }
    .replies-title {
        width: 60%;
    }
    .all-replies-box {
        width: 60%;
    }
}
@media (max-width: 1400px) {
    .bg-oscar {
        background-position-x: 80%;
    }
}
@media (max-width: 1340px) {
    .decoration {
        width: 65%;
    }
    .post-box {
        width: 65%;
    }
    .input-comment {
        width: 65%;
    }
    .replies-title {
        width: 65%;
    }
    .all-replies-box {
        width: 65%;
    }
}
@media (max-width: 1237px) {
    .decoration {
        width: 70%;
    }
    .post-box {
        width: 70%;
    }
    .input-comment {
        width: 70%;
    }
    .replies-title {
        width: 70%;
    }
    .all-replies-box {
        width: 70%;
    }
}
@media (max-width: 1150px) {
    .decoration {
        width: 75%;
    }
    .post-box {
        width: 75%;
    }
    .input-comment {
        width: 75%;
    }
    .gallery {
        margin-right: 0;
    }
    .replies-title {
        width: 75%;
    }
    .all-replies-box {
        width: 75%;
    }
}
@media (max-width: 844px) {
    .post-box {
        width: 95%;
    }
    .gallery-div {
        width: 100%;
    }
    .ex-title {
        width: 95%;
    }
    .decoration {
        width: 95%;
    }
    .input-comment {
        width: 95%;
    }
    .all-replies-box {
        width: 95%;
    }
}
@media (max-width: 740px) {
    .title {
        font-size: 50px;
    }
    .ex-title {
        font-size: 20px;
    }
}
@media (max-width: 730px) {
    .img-interstlr {
        height: 250px;
    }
    .bg-oscar {
        background-position-x: 60%;
    }
}
@media (max-width: 510px) {
    .ex-title {
        font-size: 15px;
    }
    .tweet-img {
        width: 100%;
    }
}

@media (max-device-width: 320px) {
    .post-title {
        font-size: 32px;
    }
    .post-box p {
        font-size: 26px;
    }
    .ex-title {
        font-size: 34px;
        color: white;
        color: white;
        font-family:LatoRegular;
    }
    .under-title {
        font-family: LatoRegular;
        font-size: 30px;
        color: white;
    }
    .author-name {
        color: white;
        font-family: LatoRegular !important;
    }
    .menu-btn {
        font-size: 30px;
        color: white;
        font-family:LatoRegular;
    }
    .show-more {
        font-size: 22px;
    }
    .post-author span{
        font-size: 24px;
    }
    .sign {
        font-size: 20px;
    }
    .replies {
        font-size: 150%;
    }
    .re-replies {
        font-size: 150%;
    }
    .reply-author {
        font-size: 110%;
    }
    .replies-pages {
        font-size: 200%;
        width: 400px;
    }
    .replies {
        width: 85%;
    }
    .re-replies {
        width: 65%;
    }
    .decoration {
        width: 85%;
    }
    .post-box {
        width: 85%;
    }
    .input-comment {
        width: 85%;
    }
    .reply-author {
        font-family: LatoRegular;
    }
    .replies-title {
        width: 85%;
        font-size: 165%;
    }
    .replies-title:before {
        width: calc((100% - 150px)/2);
        height: 25px;
    }
    .replies-title:after {
        width: calc((100% - 150px)/2);
        height: 25px;
    }
    .button-menu {
        background-size: contain;
        background-repeat: no-repeat;
        width: 40px;
        height: 20px;
    }

}

audio::-webkit-media-controls-panel {
    width: 100%;
    height: 141px;
}
audio::-webkit-media-controls-timeline {
    border: 3px solid;
    margin-top: 40px;
}

audio::-webkit-media-controls-play-button {
    height: 80px;
    width: 80px;
    margin-left: 55px;
    margin-top: 10px;
}
video::-webkit-media-controls {
    width: 100%;
    height: 100%;
}
audio::-webkit-media-controls {
    width: 100%;
    height: 100%;
}
video {
    width: 100%;
}
audio {
    width: 100%;
}
